body {
  margin: 0;
  font-family: 'Roboto', 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444;
}

:root {
  --bs-body-font-family: 'Roboto', 'Roboto Slab', sans-serif;
  --bs-body-color: #444444;
}

.roboto-slab {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
  font-size:32px;
  color: #444444;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}